awsebcli==3.12.3
botocore==1.9.3
cement==2.8.2
certifi==2018.1.18
cffi==1.11.5
colorama==0.3.7
Django==2.0.2
django-bootstrap3==9.1.0
django-braces==1.12.0
django-debug==0.1.1
django-debug-toolbar==1.9.1
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
jmespath==0.9.3
misaka==2.1.0
pathspec==0.5.5
Pillow==5.0.0
pycparser==2.18
python-dateutil==2.6.1
python-form==0.2.2
pytz==2018.3
PyYAML==3.12
requests==2.9.1
semantic-version==2.5.0
six==1.11.0
sqlparse==0.2.4
tabulate==0.7.5
termcolor==1.1.0
websocket-client==0.47.0
wincertstore==0.2